@import '../../assets/variables';
@import '../../assets/global.scss';
@import '../../assets/mixins.scss';

.ConferenceDetails, .NewConfPage{@include sec-default(); padding: 0px 0 40px;}

li{margin-bottom:10px; list-style-type: none;}
ul {padding-left:0;}
.confLink{text-decoration: none; font-weight: bold;}

form{padding-top:10px;}
.form{margin-bottom: 20px;}
.formStyle {
  display: block; width:350px;
  padding: 3px 5px;
  box-sizing: border-box;
  margin-bottom: 15px !important;
  font-size: 13px;
}
textarea{height:100px;}

button {padding:3px 10px; font-size:13px; }
.button {padding:5px 10px; font-size:13px; border: 1px solid rgba($black,.1); text-decoration: none; margin-bottom: 20px;}

.NewConfPage input {height:30px;}
.newItem{@include sec-default(); margin-top:30px; border-top: $border; padding-top:15px;
  .newItemLink{font-size:18px; color: $color1; font-weight: bold;}
}