$f9: #f9f9f9;
$f8: #f8f7f7;
$f0: #f0f0f0;
$f3: #f3f3f3;
$f2: #f2f2f2;
$df: #dfdfdf;
$white: #fff;
$black: #000;
$red: #ff0000;
$cream: #fbf9f8;
$color1: #00a7aa;
$color2: #116c78;
$dark:#031518;
$lt1: #99dbdd;
$lt2:#ccedee;;
$lt3:#b2e4e5;
$yellow: #F8C225;
$dk2: darken($color2, 18%);
$shadow: 0px 5px 18px rgba($black,.25);
$xy:#1e1e1e;
$x:#001011;

$border: 1px solid $f0;

$global-link-color: #DA7D02;