@import './assets/variables';
@import './assets/global.scss';
@import './assets/mixins.scss';

.App {padding:40px 0px;}

.App-link {
  color: #09d3ac;
}

ul.navUl li{display: inline-block; margin-right:3%; 
  a{text-decoration: none;}
  &:hover a{text-decoration: underline;}
  &.LoginLink{float:right; margin-top:-25px; margin-bottom: 0;}
}